<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="public/css/birthday.css">
    <title>For Saylesty</title>
  </head>
  <body>

        <div class="text-center" id="fullpage">
              <section  id="section1" class="section container-fluid">
                <canvas id=c></canvas>
                <a href="#section2"><i class="fa fa-caret-down footer fa-3x "></i></a>
              </section>

                <section id="section2" class="section container-fluid" style="font-size:40px !important;">
                    <a href="#section1"><i class="fa fa-caret-up fa-3x" style="margin-bottom:10% !important;" ></i></a>
                    <div class="row">
                      <img class="img-responsive" style="height=500px !important;" src="public/img/images/born-day.png">

                    </div>
                      <div class="row">
                      <p>
                        Happy birthday Saylesty Agarwal <br>
                        One of the dearest people of my life.
                      </p>
                        <p class="container">
                        <span>8<sup>th</sup> Oct,1997</span>
                        The day when Saylesty  Agarwal was born.
                        Toh Miss Saylesty aaj aap 20 years ki ho gayi.
                        Congratulations!!!
                        Itni si puwali aj itni bari ho gayi. Waah.
                      </p>
                    </div>
                      <a href="#section3"><i class="fa fa-caret-down footer fa-3x" style="margin-top:0 !important;"></i></a>
                </section>


              <section id="section3" class="section container-fluid ">
                  <a href="#section2"><i class="fa fa-caret-up fa-3x" style="margin-bottom:5% !important;" ></i></a>
                <h5>few years later...</h5>

                <div class="row text-center">
                  <img class="img-responsive "  src="public/img/images/few-years-later.png">

                </div>
                  <div class="text-center row">
                      <p >
                      So bachi ab thori aur bari ho gayi.
                      Shakal to dekh kitni Masoom lag rahi hai.
                      Ab itni Gussa karne wali ban gayi hai,
                      Very bad!!
                     </p>

                      <p class="container">
                      Kitni cute lagti hogi tu rote hue,
                      Jab tu tuition ya kahi se bhi aati thi
                      Aur teri mummy nahi rahti thi to
                      Gate pe beth ke….
                     </p>

                      <p class="container">Gol matol roti hogi jor jor se gate pe beth ke..   haahaha.
                      Aur pictures nahi hai so now we are heading to your School days….</p>
                    </div>
                      <a href="#section4"><i class="fa fa-caret-down footer fa-3x" style="margin-top:10% !important;" ></i></a>
              </section>


            <section id="section4" class="section container-fluid  text-center">
                <a href="#section3"><i class="fa fa-caret-up fa-3x" style="margin-bottom:10% !important" ></i></a>
                  <div class="container-fluid">

                          <div id="myCarouse7" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarouse7" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarouse7" data-slide-to="1"></li>
                              <li data-target="#myCarouse7" data-slide-to="2"></li>
                            </ol>
                              <h5>School Days:-</h5>
                                <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">

                                  <img class="img-responsive " src="public/img/images/school-days-1.png">

                                  <p class="container">Pata nahi Kon se class ka tera picture hai ye, but I guess tumlog ke Math Teacher kahi pe le gaye the tumlog ko.
                                     Abhi bhi Masoom shakal. Bas Shakal hi masoom hai wese. hahahahahahaha
                                   </p>
                            </div>

                              <div class="item">
                                  <img class="img-responsive " src="public/img/images/schools-day-2.png">

                                <p class="container">Junglee jungle me,
                                  Ek no. ki junglee thi tu.
                                  Mitti pe khel ke pant laal
                                  Kar ke jaati thi aur apne
                                  mummy se maar khati thi..
                                  moti. Hehehehe
                                </p>
                                </div>
                                <div class="item">
                                  <img class="img-responsive " src="public/img/images/schools-day-3.png">
                                <p >
                                  So teko yaad  hai me kitna shock ho
                                  gaya tha ye picture dekh ke. Itni dubli patli. I was like ye kya ho gaya Motu ko.
                                  Tu nahi de rahi thi ye picture kitna bolne ke baad dia.
                                  Ye mera third favourite picture hai tera jitna bhi picture hai mere paas wo sab me se.
                                </p>

                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarouse7" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouse7" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                          <a href="#section5"><i class="fa fa-caret-down footer fa-3x" ></i></a>
            </section>

            <section id="section5" class="section container-fluid ">
              <a href="#section4"><i class="fa fa-caret-up fa-3x" style="margin-bottom:0 !important;"></i></a>  <h5>Now we are heading to our college days…</h5>

              <div class="part-2-1">
                <h5>1st Aug, 2014</h5>
                  <p class="container">
                  Arya Vidaypeeth College, place where we met.
                  So it is still one of the best places I have been.
                  Don’t know how you feel about it.
                  Nevertheless, go ahead and yaadien taazi kar apni…..
                  </p>
              </div>

              <div class="part-2-2  ">

                  <img class="img-responsive " src="public/img/images/heading-college-2.png">
                <p class="container">
                  Pata hai ye second year ka picture hai, but
                  yahi wo Pehla picture tha jo tumne mujhe
                  send ki thi….
                  Wo bhi bahut baar bolne ke baad….
                  Ye panbzaar wale adarsh ka picture hai…
                  Kitni jyada cute lag rahi hai tu…. Wahi
                  bachpan wala photo jesa fula fula gaal….
                  Hehehehe..
                  still same grace...<!--Love sign-->
                <h5>Gol-Matol Saylesty Aggarwal</h5>
                </p>
              </div>
                <a href="#section6"><i class="fa fa-caret-down footer fa-3x" style="margin-top:0 !important;" ></i></a>
            </section>


              <section id="section6" class="section container-fluid ">
                    <a href="#section5"><i class="fa fa-caret-up fa-3x" ></i></a>
                  <div class="container-fluid">

                          <div id="myCarouse6" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarouse6" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarouse6" data-slide-to="1"></li>
                              <li data-target="#myCarouse6" data-slide-to="2"></li>
                              <li data-target="#myCarouse6" data-slide-to="3"></li>
                            </ol>
                              <h5>Saraswati Puja, 2015</h5>
                                <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">

                                <img class="img-responsive " src="public/img/saraswati-puja/saraswati (1).png">
                                  <p class="container">
                                   Ye picture mera Second favourite hai.
                                   Pehla favourite to wo bachpan wala
                                   Photo hai Na wo wala hai…

                                   Uff ye chasma wali  Saylesty Aggarwal…
                                   Kya lag rahi hai… bole to Ekdum  Jhakaas
                                   Re baba..  Your smile, “Beautiful” only
                                   word to describe.
                                </p>
                            </div>

                              <div class="item">
                                <img class="img-responsive " src="public/img/saraswati-puja/saraswati (3).png">
                                  <p class="container">
                                    Yaad hai kuch saraswati puja ka.
                                    Saari wala baat.. mujhe pata hai yaad nahi hoga, Islye me hi yaad dilwa deta hu.
                                    Tandha tandha hawa jab chal raha tha to Tu kya bol rahi thi..
                                    “Ye hawa idhar udhar jata hai kesa kesa lagta hai
                                    Lagta hai kuch dikh to nai raha”
                                    Baar baar saari thik karti thi… mujhe itna jyada hasi Aa raha tha aur tu khud ye bol ke itna hasti thi.. kya batau.
                                    Abhi type karte waqt bhi me bahut jyada has raha hu.
                                    Btw you look Gorgeous in saari. <!--smily-->
                                  </p>
                              </div>
                                <div class="item">
                                  <img class="img-responsive " src="public/img/saraswati-puja/saraswati (4).png">
                                  <p class="container">
                                      Kuch yaad aaya… hahahahahaha
                                      Aap to pehle ye batao ki aise sorry kon bolta hai.?
                                      Dum maar ke apna bat manwati thi saali. Sab majje le rahe hai.. hehehe
                                      Me to pura bakchod lag raha hoon.
                                      Sorry bolne ka andaaz tera, Fan ho gaye hum aapke.
                                  </p>
                              </div>
                              <div class="item">
                                <h5>Beautiful you Ugly me.</h5>
                                  <img class="img-responsive " src="public/img/saraswati-puja/saraswati (2).png">
                                <p class="container">Tu itni sundar aur me ekdum baklol, tera pas to ek dum sahi reason hain mujhe ignore marne ka.. hahahahaha.

                                You look gorgeous here. Only picture that I have with you, jo sahi dhang se click gaya hai.

                                Your smile “beautiful”. Mera to zabardasti ka lag raha hai. Ab meri galti nahi hai shakal hi bhagwan chor wala dia hai to. Hahahaha</p>

                              </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarouse6" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarouse6" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          </div>
                            <a href="#section7"><i class="fa fa-caret-down footer fa-3x" style="margin-top:0 !important;"></i></a>
              </section>

                  <section id="section7" class="section container-fluid">
                        <a href="#section6"><i class="fa fa-caret-up fa-3x" ></i></a>
                      <div class="container-fluid">

                              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                  <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol>
                                  <h5>Us din ka kuch aur pictures..</h5>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                  <div class="item active">
                                    <img class="img-responsive " src="public/img/saraswati-puja/saraswati (5).png">
                                  </div>

                                  <div class="item">
                                    <img class="img-responsive " src="public/img/saraswati-puja/saraswati (6).png">
                                  </div>

                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                            </div>
                                <a href="#section8"><i class="fa fa-caret-down footer fa-3x" ></i></a>
                  </section>


                <section id="section8" class="section container-fluid">
                        <a href="#section7"><i class="fa fa-caret-up fa-3x" ></i></a>
                      <div class="container-fluid">

                                <div id="myCarouse2" class="carousel slide" data-ride="carousel">
                                  <!-- Indicators -->
                                  <ol class="carousel-indicators">
                                    <li data-target="#myCarouse2" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarouse2" data-slide-to="1"></li>
                                    <li data-target="#myCarouse2" data-slide-to="2"></li>
                                    <li data-target="#myCarouse2" data-slide-to="3"></li>
                                  </ol>
                                  <h5>Few random pictures you sent…</h5>
                                    <!-- Wrapper for slides -->
                                  <div class="carousel-inner">
                                    <div class="item active">
                                       <img class="img-responsive " src="public/img/after-images/images/random-1.png">
                                    </div>

                                    <div class="item">
                                      <img class="img-responsive " src="public/img/after-images/images/random-2.png">
                                    </div>

                                  <div class="item">
                                    <img class="img-responsive " src="public/img/after-images/images/random-3.png">
                                  </div>

                                  <div class="item">
                                    <img class="img-responsive " src="public/img/after-images/images/random-4.png">
                                  </div>

                                  </div>
                                  <p class="container">Do you remember? Tu jab apne tongue
                                     se apna naak chuti thi kitni jyada cute lagti thi mujhe..
                                     I still remember..  kitni baar plead
                                     karne ka baad tune ye photo bheja tha..
                                     though, ye wesa nahi tha jese mene bola tha.
                                     Par koi nahi. Chalta hai.
                                  </p>

                                  <!-- Left and right controls -->
                                  <a class="left carousel-control" href="#myCarouse2" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="right carousel-control" href="#myCarouse2" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                                </div>

                      <a href="#section9"><i class="fa fa-caret-down footer fa-3x" ></i></a>
              </section>

            <section id="section9" class="section container-fluid">
                    <a href="#section8"><i class="fa fa-caret-up fa-3x" ></i></a>
                    <div class="container-fluid">

                      <div id="myCarouse8" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarouse8" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarouse8" data-slide-to="1"></li>
                          <li data-target="#myCarouse8" data-slide-to="2"></li>
                          <li data-target="#myCarouse8" data-slide-to="3"></li>
                        </ol>
                  <span style="font-size:80px;">Few interesting Pictures</span>
                          <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img class="img-responsive " src="public/img/after-images/images/few-intresting-1.png">
                            <p class="container">Pata nahi kya kar rahi thi tu..
                              aur tune ye picture mujhe kyu bheja tha..

                              Tune interesting picture bol ke ye dia tha mujhe..
                              so I had no option then to believe this is an interesting picture.
                            </p>
                          </div>

                          <div class="item">
                            <img class="img-responsive " src="public/img/after-images/images/few-intresting-2.png">
                            <p class="container">This Halloween concept..
                               Asli roop me the sab larki us din tumhare college ki..
                            </p>
                          </div>

                        <div class="item">
                          <img class="img-responsive " src="public/img/after-images/images/few-intresting-3.png">
                          <p class="container">
                            Now this one is good, mehedi lagane ke baad mujhe send karti hai..
                            prove karne ke liye k tu bhi larki hai…
                            Ye interesting tha…. :D :D
                          </p>
                        </div>

                        <div class="item">
                          <img class="img-responsive " src="public/img/after-images/images/few-intresting-4.png">
                          <p class="container">Location:-  Kalakhetra
                             Date:- 9th December <br>
                           Ek mahina se tune bat nahi kia tha. Jaghra hua tha humara.
                           Islye me Sorry bol raha tha par tujhe kuch samjhana hi nhi tha but finally tu samjh gayi and maaf kia mujhe.
                           Though six days later wapas jaghra.
                         </p>
                      </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarouse8" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarouse8" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                      <a href="#section10"><i class="fa fa-caret-down footer fa-3x" ></i></a>
            </section>
            <section id="section10" class="section container-fluid">

              <a href="#section9"><i class="fa fa-caret-up fa-3x" ></i></a>

              <div class=container-fluid>
                <div id="myCarouse3" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarouse3" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarouse3" data-slide-to="1"></li>
                    <li data-target="#myCarouse3" data-slide-to="2"></li>
                    <li data-target="#myCarouse3" data-slide-to="3"></li>

                  </ol>
                  <h5>9th December, 2016. Kalakhetra dairies.</h5>
                  <h5>Last day tha college ka pre-test ka. </h5>
                  <h5>Sab ka koi na koi picture kharab hua, Par sab picture me tu ready thi pura pose de ke. :D :P</h5>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img class="img-responsive " src="public/img/after-images/images/daires (1).png">
                    </div>

                    <div class="item">
                      <img class="img-responsive " src="public/img/after-images/images/daires (2).png">
                    </div>

                    <div class="item">
                      <img class="img-responsive " src="public/img/after-images/images/daires (3).png">
                    </div>

                    <div class="item">
                      <img class="img-responsive " src="public/img/after-images/images/daires (4).png">
                    </div>

                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarouse3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouse3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
                <a href="#section11"><i class="fa fa-caret-down footer fa-3x" ></i></a>
            </section>

              <section id="section11" class="section container-fluid">
                  <a href="#section10"><i class="fa fa-caret-up fa-3x" ></i></a>
                <div class="container-fluid">
                  <div id="myCarouse4" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarouse4" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarouse4" data-slide-to="1"></li>
                      <li data-target="#myCarouse4" data-slide-to="2"></li>
                      <li data-target="#myCarouse4" data-slide-to="3"></li>
                      <li data-target="#myCarouse4" data-slide-to="4"></li>
                      <li data-target="#myCarouse4" data-slide-to="5"></li>
                      <li data-target="#myCarouse4" data-slide-to="6"></li>
                      <li data-target="#myCarouse4" data-slide-to="7"></li>
                      <li data-target="#myCarouse4" data-slide-to="8"></li>
                      <li data-target="#myCarouse4" data-slide-to="9"></li>
                    </ol>

                      <h5>Whatsapp profile pictures that were saved without your permission... :D :D</h5>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                      <div class="item active">
                          <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-1.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-2.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-3.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-4.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-5.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-6.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-7.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-8.png">
                      </div>

                      <div class="item">
                        <img class="img-responsive " src="public/img/whatsapp/whatsapp-image-9.png">
                      </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarouse4" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarouse4" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                  <a href="#section12"><i class="fa fa-caret-down footer fa-3x" ></i></a>
              </section>



              <section id="section12" class="section container-fluid ">
                <a href="#section11"><i class="fa fa-caret-up fa-3x" ></i></a>
              <p  style="font-size:30px;">So, this comes to an end. I hope you liked it.
                Happy birthday once again. I hope it brought a smile on your face.
                I am really grateful for having a friend like you.
                Now, Stop Fighting with me on regular interval I hate you for that. Be Good Girl like you were before.
                Wanted to say Much more than this.. Par agle Birthday ke liye bhi kuch bachha hona chahye na… So next time ke liye wait kar.<br> <br>
                <span style="font-size:2em">For Now Enjoy Your Day. Stay Happy. Keep Smiling pagal ke jese. And Mujhe bhi hasana.</span><br>

                I wish many more happy Moments keep coming to your life. Keep enjoying. Stay happy. I am always with you.<br> <!--smily-->
                <span style="font-size:3em;">Happy Birthday!!!</span>
              </p>
              </section>


            </div>


      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
      <script type="text/javascript">
      var w = c.width = window.innerWidth,
          h = c.height = window.innerHeight,
          ctx = c.getContext( '2d' ),

          hw = w / 2, // half-width
          hh = h / 2,

          opts = {
            strings: [ 'HAPPY', 'BIRTHDAY', 'SAYLESTY AGGARWALA', 'SCROLL DOWN', 'TO EXPERINCE', 'BEAUTIFUL MOVEMENTS', 'OF YOUR LIFE'],
            charSize: 30,
            charSpacing: 35,
            lineHeight: 40,

            cx: w / 2,
            cy: h / 2,

            fireworkPrevPoints: 10,
            fireworkBaseLineWidth: 5,
            fireworkAddedLineWidth: 8,
            fireworkSpawnTime: 200,
            fireworkBaseReachTime: 30,
            fireworkAddedReachTime: 30,
            fireworkCircleBaseSize: 20,
            fireworkCircleAddedSize: 10,
            fireworkCircleBaseTime: 30,
            fireworkCircleAddedTime: 30,
            fireworkCircleFadeBaseTime: 10,
            fireworkCircleFadeAddedTime: 5,
            fireworkBaseShards: 5,
            fireworkAddedShards: 5,
            fireworkShardPrevPoints: 3,
            fireworkShardBaseVel: 4,
            fireworkShardAddedVel: 2,
            fireworkShardBaseSize: 3,
            fireworkShardAddedSize: 3,
            gravity: .1,
            upFlow: -.1,
            letterContemplatingWaitTime: 360,
            balloonSpawnTime: 20,
            balloonBaseInflateTime: 10,
            balloonAddedInflateTime: 10,
            balloonBaseSize: 20,
            balloonAddedSize: 20,
            balloonBaseVel: .4,
            balloonAddedVel: .4,
            balloonBaseRadian: -( Math.PI / 2 - .5 ),
            balloonAddedRadian: -1,
          },
          calc = {
            totalWidth: opts.charSpacing * Math.max( opts.strings[0].length, opts.strings[1].length )
          },

          Tau = Math.PI * 2,
          TauQuarter = Tau / 4,

          letters = [];

      ctx.font = opts.charSize + 'px Verdana';

      function Letter( char, x, y ){
        this.char = char;
        this.x = x;
        this.y = y;

        this.dx = -ctx.measureText( char ).width / 2;
        this.dy = +opts.charSize / 2;

        this.fireworkDy = this.y - hh;

        var hue = x / calc.totalWidth * 360;

        this.color = 'hsl(hue,80%,50%)'.replace( 'hue', hue );
        this.lightAlphaColor = 'hsla(hue,80%,light%,alp)'.replace( 'hue', hue );
        this.lightColor = 'hsl(hue,80%,light%)'.replace( 'hue', hue );
        this.alphaColor = 'hsla(hue,80%,50%,alp)'.replace( 'hue', hue );

        this.reset();
      }
      Letter.prototype.reset = function(){

        this.phase = 'firework';
        this.tick = 0;
        this.spawned = false;
        this.spawningTime = opts.fireworkSpawnTime * Math.random() |0;
        this.reachTime = opts.fireworkBaseReachTime + opts.fireworkAddedReachTime * Math.random() |0;
        this.lineWidth = opts.fireworkBaseLineWidth + opts.fireworkAddedLineWidth * Math.random();
        this.prevPoints = [ [ 0, hh, 0 ] ];
      }
      Letter.prototype.step = function(){

        if( this.phase === 'firework' ){

          if( !this.spawned ){

            ++this.tick;
            if( this.tick >= this.spawningTime ){

              this.tick = 0;
              this.spawned = true;
            }

          } else {

            ++this.tick;

            var linearProportion = this.tick / this.reachTime,
                armonicProportion = Math.sin( linearProportion * TauQuarter ),

                x = linearProportion * this.x,
                y = hh + armonicProportion * this.fireworkDy;

            if( this.prevPoints.length > opts.fireworkPrevPoints )
              this.prevPoints.shift();

            this.prevPoints.push( [ x, y, linearProportion * this.lineWidth ] );

            var lineWidthProportion = 1 / ( this.prevPoints.length - 1 );

            for( var i = 1; i < this.prevPoints.length; ++i ){

              var point = this.prevPoints[ i ],
                  point2 = this.prevPoints[ i - 1 ];

              ctx.strokeStyle = this.alphaColor.replace( 'alp', i / this.prevPoints.length );
              ctx.lineWidth = point[ 2 ] * lineWidthProportion * i;
              ctx.beginPath();
              ctx.moveTo( point[ 0 ], point[ 1 ] );
              ctx.lineTo( point2[ 0 ], point2[ 1 ] );
              ctx.stroke();

            }

            if( this.tick >= this.reachTime ){

              this.phase = 'contemplate';

              this.circleFinalSize = opts.fireworkCircleBaseSize + opts.fireworkCircleAddedSize * Math.random();
              this.circleCompleteTime = opts.fireworkCircleBaseTime + opts.fireworkCircleAddedTime * Math.random() |0;
              this.circleCreating = true;
              this.circleFading = false;

              this.circleFadeTime = opts.fireworkCircleFadeBaseTime + opts.fireworkCircleFadeAddedTime * Math.random() |0;
              this.tick = 0;
              this.tick2 = 0;

              this.shards = [];

              var shardCount = opts.fireworkBaseShards + opts.fireworkAddedShards * Math.random() |0,
                  angle = Tau / shardCount,
                  cos = Math.cos( angle ),
                  sin = Math.sin( angle ),

                  x = 1,
                  y = 0;

              for( var i = 0; i < shardCount; ++i ){
                var x1 = x;
                x = x * cos - y * sin;
                y = y * cos + x1 * sin;

                this.shards.push( new Shard( this.x, this.y, x, y, this.alphaColor ) );
              }
            }

          }
        } else if( this.phase === 'contemplate' ){

          ++this.tick;

          if( this.circleCreating ){

            ++this.tick2;
            var proportion = this.tick2 / this.circleCompleteTime,
                armonic = -Math.cos( proportion * Math.PI ) / 2 + .5;

            ctx.beginPath();
            ctx.fillStyle = this.lightAlphaColor.replace( 'light', 50 + 50 * proportion ).replace( 'alp', proportion );
            ctx.beginPath();
            ctx.arc( this.x, this.y, armonic * this.circleFinalSize, 0, Tau );
            ctx.fill();

            if( this.tick2 > this.circleCompleteTime ){
              this.tick2 = 0;
              this.circleCreating = false;
              this.circleFading = true;
            }
          } else if( this.circleFading ){

            ctx.fillStyle = this.lightColor.replace( 'light', 70 );
            ctx.fillText( this.char, this.x + this.dx, this.y + this.dy );

            ++this.tick2;
            var proportion = this.tick2 / this.circleFadeTime,
                armonic = -Math.cos( proportion * Math.PI ) / 2 + .5;

            ctx.beginPath();
            ctx.fillStyle = this.lightAlphaColor.replace( 'light', 100 ).replace( 'alp', 1 - armonic );
            ctx.arc( this.x, this.y, this.circleFinalSize, 0, Tau );
            ctx.fill();

            if( this.tick2 >= this.circleFadeTime )
              this.circleFading = false;

          } else {

            ctx.fillStyle = this.lightColor.replace( 'light', 70 );
            ctx.fillText( this.char, this.x + this.dx, this.y + this.dy );
          }

          for( var i = 0; i < this.shards.length; ++i ){

            this.shards[ i ].step();

            if( !this.shards[ i ].alive ){
              this.shards.splice( i, 1 );
              --i;
            }
          }

          if( this.tick > opts.letterContemplatingWaitTime ){

            this.phase = 'balloon';

            this.tick = 0;
            this.spawning = true;
            this.spawnTime = opts.balloonSpawnTime * Math.random() |0;
            this.inflating = false;
            this.inflateTime = opts.balloonBaseInflateTime + opts.balloonAddedInflateTime * Math.random() |0;
            this.size = opts.balloonBaseSize + opts.balloonAddedSize * Math.random() |0;

            var rad = opts.balloonBaseRadian + opts.balloonAddedRadian * Math.random(),
                vel = opts.balloonBaseVel + opts.balloonAddedVel * Math.random();

            this.vx = Math.cos( rad ) * vel;
            this.vy = Math.sin( rad ) * vel;
          }
        } else if( this.phase === 'balloon' ){

          ctx.strokeStyle = this.lightColor.replace( 'light', 80 );

          if( this.spawning ){

            ++this.tick;
            ctx.fillStyle = this.lightColor.replace( 'light', 70 );
            ctx.fillText( this.char, this.x + this.dx, this.y + this.dy );

            if( this.tick >= this.spawnTime ){
              this.tick = 0;
              this.spawning = false;
              this.inflating = true;
            }
          } else if( this.inflating ){

            ++this.tick;

            var proportion = this.tick / this.inflateTime,
                x = this.cx = this.x,
                y = this.cy = this.y - this.size * proportion;

            ctx.fillStyle = this.alphaColor.replace( 'alp', proportion );
            ctx.beginPath();
            generateBalloonPath( x, y, this.size * proportion );
            ctx.fill();

            ctx.beginPath();
            ctx.moveTo( x, y );
            ctx.lineTo( x, this.y );
            ctx.stroke();

            ctx.fillStyle = this.lightColor.replace( 'light', 70 );
            ctx.fillText( this.char, this.x + this.dx, this.y + this.dy );

            if( this.tick >= this.inflateTime ){
              this.tick = 0;
              this.inflating = false;
            }

          } else {

            this.cx += this.vx;
            this.cy += this.vy += opts.upFlow;

            ctx.fillStyle = this.color;
            ctx.beginPath();
            generateBalloonPath( this.cx, this.cy, this.size );
            ctx.fill();

            ctx.beginPath();
            ctx.moveTo( this.cx, this.cy );
            ctx.lineTo( this.cx, this.cy + this.size );
            ctx.stroke();

            ctx.fillStyle = this.lightColor.replace( 'light', 70 );
            ctx.fillText( this.char, this.cx + this.dx, this.cy + this.dy + this.size );

            if( this.cy + this.size < -hh || this.cx < -hw || this.cy > hw  )
              this.phase = 'done';

          }
        }
      }
      function Shard( x, y, vx, vy, color ){

        var vel = opts.fireworkShardBaseVel + opts.fireworkShardAddedVel * Math.random();

        this.vx = vx * vel;
        this.vy = vy * vel;

        this.x = x;
        this.y = y;

        this.prevPoints = [ [ x, y ] ];
        this.color = color;

        this.alive = true;

        this.size = opts.fireworkShardBaseSize + opts.fireworkShardAddedSize * Math.random();
      }
      Shard.prototype.step = function(){

        this.x += this.vx;
        this.y += this.vy += opts.gravity;

        if( this.prevPoints.length > opts.fireworkShardPrevPoints )
          this.prevPoints.shift();

        this.prevPoints.push( [ this.x, this.y ] );

        var lineWidthProportion = this.size / this.prevPoints.length;

        for( var k = 0; k < this.prevPoints.length - 1; ++k ){

          var point = this.prevPoints[ k ],
              point2 = this.prevPoints[ k + 1 ];

          ctx.strokeStyle = this.color.replace( 'alp', k / this.prevPoints.length );
          ctx.lineWidth = k * lineWidthProportion;
          ctx.beginPath();
          ctx.moveTo( point[ 0 ], point[ 1 ] );
          ctx.lineTo( point2[ 0 ], point2[ 1 ] );
          ctx.stroke();

        }

        if( this.prevPoints[ 0 ][ 1 ] > hh )
          this.alive = false;
      }
      function generateBalloonPath( x, y, size ){

        ctx.moveTo( x, y );
        ctx.bezierCurveTo( x - size / 2, y - size / 2,
                           x - size / 4, y - size,
                           x,            y - size );
        ctx.bezierCurveTo( x + size / 4, y - size,
                           x + size / 2, y - size / 2,
                           x,            y );
      }

      function anim(){

        window.requestAnimationFrame( anim );

        ctx.fillStyle = '#111';
        ctx.fillRect( 0, 0, w, h );

        ctx.translate( hw, hh );

        var done = true;
        for( var l = 0; l < letters.length; ++l ){

          letters[ l ].step();
          if( letters[ l ].phase !== 'done' )
            done = false;
        }

        ctx.translate( -hw, -hh );

        if( done )
          for( var l = 0; l < letters.length; ++l )
            letters[ l ].reset();
      }

      for( var i = 0; i < opts.strings.length; ++i ){
        for( var j = 0; j < opts.strings[ i ].length; ++j ){
          letters.push( new Letter( opts.strings[ i ][ j ],
                                  j * opts.charSpacing + opts.charSpacing / 2 - opts.strings[ i ].length * opts.charSize / 2,
                                  i * opts.lineHeight + opts.lineHeight / 2 - opts.strings.length * opts.lineHeight / 2 ) );
        }
      }

      anim();

      window.addEventListener( 'resize', function(){

        w = c.width = window.innerWidth;
        h = c.height = window.innerHeight;

        hw = w / 2;
        hh = h / 2;

        ctx.font = opts.charSize + 'px Verdana';
      })

      </script>


    </body>

</html>
